{% extends 'main/base.html' %}
{% load static %}
Django e-shop ha

{% block page_content %}
<html>
<head>
	<h1> hi </h1>
	
	
</head>

<body>
	
<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="media/images/PC.jpg" alt="PC Hardware">
		<div class="card-body">
		<h5 class="card-title">(this was a) Very Fast PC (20 years ago)</h5>
		<p class="card-text">Specs</p>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">Intel Pentium 3 1.4GHz</li>
		<li class="list-group-item">128MB RAM</li>
		<li class="list-group-item">8GB HDD</li>
		<li class="list-group-item">Mouse included</li>
		<li class="list-group-item">Keyboard included</li>
		<li class="list-group-item">300W PSU</li>
		<li class="list-group-item">(some)cables included</li>
		<li class="list-group-item">No OS</li>
		<li class="list-group-item">No GPU</li>
		
	</ul>
	<div class="card-body">
		<a href="#" class="card-link">Buy Now</a>
		<a href="#" class="card-link">Add to Cart</a>
	</div>
</div>

	
	
	

	
</body>

</html>

{% block page_app %}
{% endblock page_app %}
{% endblock page_content %}